/* Online Indicator Styles */

.online-indicator {
  position: relative;
  display: inline-block;
}

.online-indicator__dot {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 9999px;
  border: 2px solid white;
}

.online-indicator__dot--online {
  background-color: rgb(34 197 94);
}

.online-indicator__dot--offline {
  background-color: rgb(156 163 175);
}

.online-indicator__dot--sm {
  width: 0.5rem;
  height: 0.5rem;
}

.online-indicator__dot--lg {
  width: 1rem;
  height: 1rem;
}

/* Dark mode */
:root.dark .online-indicator__dot {
  border-color: rgb(31 41 55);
}
